{% if deploy_nginx_extra_server_name %}
server {
  listen {{ deploy_nginx_listen }} ssl;

  server_name{% for extra_name in deploy_nginx_extra_server_name %} {{ extra_name }}{% endfor %};

  access_log off;

  ssl_certificate {{ deploy_letsencrypt_live }}/fullchain.pem;
  ssl_certificate_key {{ deploy_letsencrypt_live }}/privkey.pem;
  ssl_trusted_certificate {{ deploy_letsencrypt_live }}/chain.pem;

  include ssl;

  expires max;

  return 301 https://{{ deploy_nginx_server_name }}$request_uri;
}

{% endif %}
server {

  listen {{ deploy_nginx_listen }} ssl;

  server_name .{{ deploy_nginx_server_name }};

  ssl_certificate {{ deploy_letsencrypt_live }}/fullchain.pem;
  ssl_certificate_key {{ deploy_letsencrypt_live }}/privkey.pem;
  ssl_trusted_certificate {{ deploy_letsencrypt_live }}/chain.pem;

  include ssl;

  # Disable images from http://
  add_header Content-Security-Policy "block-all-mixed-content";

  error_log {{ deploy_nginx_log }};

  # Yandex Webvisor
  set $frame_options '';
  if ($http_referer !~ '^https?:\/\/([^\/]+\.)?({{ deploy_nginx_server_name|replace('.', '\.') }}|webvisor\.com)\/'){
    set $frame_options 'SAMEORIGIN';
  }
  add_header X-Frame-Options $frame_options;

  include acme;

  set $root {{ deploy_nginx_root }};
  set $src $root/src;

  root $src;

  location ~* ^/(static|media) {
    access_log off;
  }

  location ~* ^/(?!sitemap\.xml)[-\w]+\.(txt|xml|html)$ {
    root $src/media/uploads/seo;
    access_log off;
  }

  location ~ ^/(apple-touch-icon|browserconfig|favicon|mstile)(.*)\.(png|xml|ico)$ {
    root $src/static/img/favicon;
    access_log off;
  }

  location / {
    client_max_body_size 10m;

    include uwsgi_params;
    uwsgi_pass unix://$root/run/uwsgi.sock;
    uwsgi_read_timeout 300;
  }
}
