[uwsgi]
  # For common settings see: /etc/uwsgi/vassals-default.ini

  # Define custom variables
  vassal_name = {{ deploy_uwsgi_name }}
  vassal_path = {{ deploy_uwsgi_path }}

  # Per-project settings
  touch-reload = %p

  # Application
  pythonpath = %(vassal_path)/src
  venv = {{ deploy_venv_root }}/%(vassal_name)
  module = wsgi
